.navbar {
    background-color: #F98E81;
}

.afirma {
    background-color: lightgray;
}
.margin {
    padding: 30px;
}
.galere {
    background-color: firebrick;
}
.bgfo {
    background-color: blueviolet;
}