.navbar {
    background-color: #F98E81;
}

.afirma {
    background-color: lightgray;
}
.margin {
    padding: 30px;
}
.parceria {
    background-color: rgb(200, 98, 231);
}
.bgfo {
    background-color: blueviolet;
}